/* Region Fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");

@font-face{
	font-family: "droid-serif";
	src: url("fonts/Droid-serif.ttf");
	src: local("droid-serif"), url("fonts/Droid-serif.ttf");
}

@font-face{
	font-family: "spinakker";
	src: url("fonts/Spinnaker-Regular.ttf");
	src: local("spinakker"), url("fonts/Spinnaker-Regular.ttf");
}

/* End Region */

/* Region General */

.background-page{
	background-color: #CCCCCC;
}

.padding0{
	padding: 0;
}

.mt5{
	margin-top: 5px;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top: 20px;
}

/* End Region */

/* Region Welcome */

.noticias .noticia:first-child{
	margin-top: 0px !important;
}

.noticias .noticia{
	background-color: white;
}

.noticias .noticia p.title{
	font-size: 27px;
	color: black;
	font-family: spinakker;
}

.right-bar{
	padding-right: 0;
}

/* End Region */

/* Region Footer */

.footer{
	background-color: white;
	border-top: 4px solid #00F000;
	padding-bottom: 10px;
}

.footer .posts{
	background-color: #2C3E50;
	padding-top: 10px;
}

.footer .posts .div-title{
	margin-left: 10px;
	padding-left: 0; 
	border-bottom: 2px solid #00F000;
}

.footer .posts .div-title p.title-posts{
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

.footer .posts .post{
	border-bottom: 1px solid #00F000;
	margin-left: 10px;
}

.footer .posts .post:last-child{
	border-bottom: 0;
}

/* End Region */

/* Region Right-Bar */

.search.search-input{
	padding: 3px;
	border: 1px solid #E4E4E4;
	border-radius: 4px;
	background-color: #fff;
}

.search.search-input input{
	border: 0;
	box-shadow: none;
}

.search.search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: 1px solid #ccc;
}

.search.search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: 1px solid #ccc;
}

.search.search-input .glyphicon-search{
	font-size: 23px;
	color: #2C3E50;
}

.social{
	background-color: #2C3E50;
	padding-top: 12px;
	padding-bottom: 12px;
}

.social .div-title{
	border-bottom: 2px solid #00F000;
	margin-left: 23px;
}

.social .div-title p.title{
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}

.social .facebook{
	background-color: #3B5998;
	height: 30px;
}

.social .twitter{
	background-color: #45B0E3;
	height: 30px;
}

.social .googleplus{
	background-color: #D34C34;
	height: 30px;
}

/* End Region */

/* Region Media Queries */

@media (max-width: 992px){ 

	.noticias{
		padding-left: 15px;
	}

}

@media (min-width: 992px){ 

	.right-bar{
		padding-left: 15px;
	}

}

/* End Region */


.black{
	border: 2px solid black;
}

.ancho{
	height: 40px;
}


